h1 {
    color: whitesmoke;
    font-weight: bolder;
    margin-bottom: 18px;
}

header {
    animation: myanime 60000ms infinite alternate;
    background: linear-gradient(to right, rgb(97, 210, 255), rgb(34, 0, 114));
    text-align: center;
}

main {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

h2, h4 {
    font-weight: bold;
}

#curIcon {
    width: 70px;
    height: 50px;
}

#cityAndIcon {
    display: flex;
}

#main {
    width: 100%;
}

#searchCity {
    margin: 0 30px;
}

#search {
    border-radius: 5px;
    margin-bottom: 10px;
}

.searchBtn {
    color: whitesmoke;
    background-color: rgb(80, 162, 255);
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 5px;
}

#searching {
    border-bottom: solid 5px gray;
}

.previBtns {
    margin-top: 5px;
    background-color: rgb(189, 189, 189);
    border-radius: 5px;
}

#curDayUV {
    color: white;
    padding: 2px 12px;
    border-radius: 3px;
}

#fiveDays {
    justify-content: space-between;
}

.dayForecast {
    background-color: rgb(39, 70, 83);
    color: whitesmoke;
}

.fiveIcons {
    width: 50px;
}

.dayForecast:hover {
    transition-duration: 750ms;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0, 0.7);
}

button:hover {
    transition-duration: 2000ms;
    color: whitesmoke;
    background-color: rgb(0, 11, 114);
}

@keyframes myanime {
    from {
        text-shadow: -10px 5px 7px rgba(0,0,0, 0.5);
    }
    to {
        text-shadow: 50px 5px 7px rgba(0,0,0, 1);
    }
}

@media only screen and (max-width: 750px) {
    main {
        flex-direction: column;
    }

    #titleFiveDays {
        padding-left: 30px;
    }   
}

