h1 {
    color: whitesmoke;
    font-weight: bold;
    margin-bottom: 15px;
}

header {
    animation: myanime 60000ms infinite alternate;
    background: linear-gradient(to right, rgb(97, 97, 255), rgb(34, 0, 114));
    text-align: center;
}

main {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

